$frost: #dde2e3;
$lead: #9aacb8;
$burnt_amber: #b37c57;
$nightfall: #3c455c;
$nightfall_dark: #262b39;
$bark: #60412b;

body {
  margin: 0;
  font-family: "Roboto", serif;
  background-color: black;
  color: $frost;
  font-size: 10px;
}

.app {
  height: 100vh;
}

.app--flex {
  flex-wrap: wrap;
  display: flex;
  height: 100%;
}

.app--box {
  flex: 1 0 50%;
  height: 50%;
  overflow: auto;

  & > * {
    height: 100%;
  }
}
